.input-field{
    width: 700px;
    height: 60px;
    margin-left: 400px;
    border-radius: 5px;
    
}
h2{
    margin-left: 700px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #a9edcc; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-left: 700px;
}
.button:hover {
    background-color: #55758d; 
}

.button:active {
    background-color: #004494; 
}
body {
    font-family: Arial, sans-serif;
}

.upload-container {
    position: relative;
    display: inline-block;
    margin-top: 200px;
   
}

.file-input {
    display: none; 
}

.file-label {
    cursor: pointer; 
}

.upload-image {
    max-width: 100px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    transition: transform 0.2s;
    margin-left: 20px;
}

.upload-image:hover {
    transform: scale(1.05); 
}
