body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    align-items: left;
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

.colleges {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin: 20px;

}

.college {
    background-color: #d6f6e7;
    padding: 20px;
    margin:25px;
    border-radius: 10px;
    height: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.college:hover {
    transform: scale(1.05);
}

.college img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.college h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
a{
    color: black;
    text-decoration: none;
}