.hey{
    margin-left: 550px;
    margin-top: 300px;
    
}
.button {
    display: inline-block;
    padding: 20px 20px;
    font-size: 16px;
    color: white;
    background-color: #a9edcc; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #55758d; 
}

.button:active {
    background-color: #004494; 
}
#et{
    max-width: 100px;
    max-height: 100px;
    margin-left: 70px;
}
#image{
    max-height: 350px;
    max-width: 1400px;
    margin-bottom: 100px;
}